@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: #fffffe;
    --action-color: #6246ea;
    --text-color: #2b2c34;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
}
label a{
    color: var(--text-color);
}
em{
    color: red;
    font-weight: bold;
    font-size: small;
}
input[type=text], input[type=submit], input[type=password]{
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    font-weight: 500;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}
.terms-of-service{
    display: flex;
    align-items: center;
}
#checkbox-input{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#submit-button{
    border: none;
    background-color: var(--action-color);
    color: var(--background-color);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: medium;
}
#submit-button:hover{
    opacity: 0.8;
}
#switch-page{
    margin-top: 5px;
    font-weight: 500;
}
#switch-page a{
    text-decoration: none;
}
.success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}